@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FA8072;
}

nav{
    background-color: #FFA07A;
    width: 250px;
    height: 100%;
    box-shadow: 1px 0px 3px #FA8072;
    float: left;
    position: fixed;
    transition: .3s;
    overflow-y: auto ;
    overflow-x: hidden;
}

main{
    float: right;
    width: calc(100% - 250px);
    transition: .3s;
}

.logo{
    padding: 20px;
    text-align: center;
    align-items: center;
}

.menu{
    margin-top: 10px;
}
.menu a{
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 5px;
    transition: .3s;
}
.menu a label{
    margin-left: 20px;
}
.menu a:hover{
    background-color: #FA8072;
    border-left: solid 5px #B22222;
}

/* grid */


.myButton {
	background-color:#b22222;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	font-weight:bold;
    padding:16px 31px;
    text-align: center;
	text-decoration:none;
	text-shadow:0px 1px 0px #b22222;
}
.myButton:hover {
    color: brown;
    background-color:#FA8072;
    border: solid 1px brown;
}
.myButton:active {
	position:relative;
	top:1px;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;

}

.row{
    margin-left: -5px;
    margin-right: -5px;
}
    .row:before,.row:after{
        content: "";
        display: table;
    }
    .row:after{
        clear: both;
    }
.col{
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 1px;
    padding-right: 1px;
    width: 50%;
    margin-right: -4px;
}
.col img{
    background: brown;
    padding: 5px;
    text-align: center;
    margin: 2px 0px;
    color: #fff;
    width: 40%; 
    }
    /* duas colunas */
    @media(min-width: 480px){
    .col-2{
        width: 50%;
        }
    }


    /* duas colunas */
    @media(min-width:720px){
        .col-3{
            width: 33.3333%;
        }
    }

fieldset{
    border:0;
}

.footer{
    text-align: center;
    width: 100%;
    background-color: brown;
    float: right;
    padding: 20%, 20%;
}

/* celular */

@media(max-width: 992px){

    .container{
        max-width: 1170px;
        padding: 0;
    }
    nav{
        width: 0px;
    }

    main{
        width: 100%;
    }
}

#admfunc a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#admfunc a:hover {
    color:brown; 
    text-decoration: none;
}

#selectmoveis label{
    font-size: 20px;
}


