@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0 auto;
}

nav {
  background-color: brown;
  width: 250px;
  height: 100%;
  float: left;
  position: fixed;
  transition: 0.3s;
  overflow-y: auto;
  overflow-x: hidden;
}

main {
  float: right;
  width: calc(100% - 250px);
  transition: 0.3s;
}
main h1 {
  margin: 5px;
  text-align: center;
  align-items: center;

  background-color: rgba(165, 42, 42, 0.344);

  border-radius: 8px;
}
.logo {
  padding: 20px;
  text-align: center;
  align-items: center;
}

/* slider */
.slider {
  max-width: 1065px;
  height: 200px;
  margin-bottom: 30px;
  text-align: center;
  float: right;
}
.slider img {
  width: 1095px;
  height: 200px;
}

/* menu */
.menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 2px;
  transition: 0.3s;
}
.menu ul {
  list-style: none;
  margin-top: 2%;
}
.menu ul li:hover {
  background-color: #bb3838;
  border-left: solid 5px #fff;
  border-radius: 8px;
}
.menu ul ul {
  display: none;
  text-decoration: none;
}
.menu ul li:hover > ul {
  display: block;
  font-size: 20px;
  margin-left: 5%;
}
.menu ul ul ul {
  margin-left: 170px;
  top: 0;
  position: absolute;
}

/*grid (catálogo)*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.grid img {
  width: 90%;
  height: 300px;

  border: 2px solid brown;
  border-radius: 8px;
  margin: 5px;
}
.item-grid {
  position: relative;
  text-align: center;
}
.item-grid button {
  position: absolute;
  z-index: 1;
  top: 285px;
  left: 50%;

  width: 60px;
  height: 30px;

  margin: -15px 0 0 -30px;
  border: 1px solid #fff;
  border-radius: 8px;

  background-color: rgba(165, 42, 42, 0.748);
  color: rgb(141, 135, 135);
}
.item-grid button:hover {
  color: #fff;
  cursor: pointer;
}
/* fim */

fieldset {
  border: 0;
}

.footer {
  position: initial;
  text-align: center;
  width: 100%;
  background-color: brown;
  float: right;
  color: #fff;
}

#admfunc a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

#admfunc a:hover {
  color: brown;
  text-decoration: none;
}

#selectmoveis label {
  font-size: 20px;
}

.pag {
  margin-bottom: 10px;
}

.pag a {
  color: #ffffff;
}

/* celular */

@media (max-width: 992px) {
  .container {
    max-width: 1170px;
    padding: 0;
  }
  nav {
    width: 0px;
  }

  main {
    width: 100%;
  }
}
